@font-face {
    font-family: 'Roboto Regular';
    font-weight: 400;
    font-style: normal;

    src: url("./fonts/Roboto-Regular.woff") format("woff"),
        url("./fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Roboto Bold';
    font-weight: bold;
    font-style: normal;

    src: url("./fonts/Roboto-Bold.woff") format("woff"),
        url("./fonts/Roboto-Bold.woff2") format("woff2");
}

body {
    background-image: url(./img/hintergruende/hintergrund_white_d.webp);
    background-size: cover;
    color: black;
    font-family: 'Roboto Regular', sans-serif;
    overflow-x: hidden;
}

nav {
    background-image: url(./img/hintergruende/nav_hintergrund_white.webp);
}

#timeline ul {
    list-style: none;
    padding-left: 0;
}

#timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #f0403c;
    color: white;
}

#timeline ul li div {
    position: relative;
    bottom: 0;
    width: 500px;
    padding: 15px;
    background: #f0403c;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

#timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

#timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

#timeline ul li::after {
    background: transparent;
    transition: background .5s ease-in-out;
}

#timeline ul li:nth-child(2n+1) div {
    transform: translate3d(200px, 0, 0);
    left: 45px;
}

#timeline ul li:nth-child(2n) div {
    transform: translate3d(-200px, 0, 0);
    left: -538px;
}

#timeline ul li.in-view-item::after {
    background: #f0403c;
}

#timeline ul li:nth-child(2n+1) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f0403c transparent transparent;
}

#timeline ul li:nth-child(2n) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #f0403c;
}

#timeline ul li.in-view-item div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

#instagramSection blockquote {
    min-width: auto !important;
}

#instagramSection .Header,
#instagramSection .HoverCard,
#instagramSection .Feedback,
#instagramSection .SocialProof,
#instagramSection .Footer {
    display: none !important;
}

#dark-mode-toggler {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid grey;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 30px;
    top: 21px;
    z-index: 1002;
}

#dark-mode-toggler:hover {
    cursor: pointer;
}

#dark-mode-toggler img {
    width: 30px;
    aspect-ratio: 1/1;
}

#dark-mode-toggler.dark-mode {
    background: #000;
    border-color: white;
}

.dark-mode {
    color: white;
    background-image: url(./img/hintergruende/hintergrund_black_d.webp);
}

.dark-mode nav {
    background-image: url(./img/hintergruende/nav_hintergrund_black.webp);
}

.dark-mode #navbar-toggler {
    background: white;
}

.dark-mode .nav_social_media svg {
    fill: white;
}

.dark-mode a:not(.leaflet-control-zoom-in):not(.leaflet-control-zoom-out):not(.leaflet-control a) {
    color: white;
}

/* .dark-mode hr {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
} */

.dark-mode *>.btn-primary {
    background-color: #393939;
}

.dark-mode.pfeil {
    background-image: url(./img/arrow-right-black.png);
}

.btn-primary:hover .pfeil {
    background-image: url(./img/arrow-right-white.png);
}

.fadeup {
    transform: translateY(50px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.in-view {
    transform: none;
    opacity: 1;
}

.b-lazy {
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    max-width: 100%;
    opacity: 0;
}

.b-lazy.b-loaded {
    opacity: 1;
}


#greetings {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#closeGreetings {
    color: #0d6efd;
    color: #0d6efd;
    width: fit-content;
    margin: auto;
}

#closeGreetings:hover {
    cursor: pointer;
    color: #0a58ca;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Bold', sans-serif;
}

hr {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(240, 64, 60), rgba(255, 255, 255, 0));
    height: 1px;
    border: 0;
}

#stammtisch,
#seminar,
#erfolg,
#kneipe,
#ausfahrt,
#fechten,
#freundschaft,
#toleranz,
#entwicklung,
#vaterland,
#tradition {
    scroll-margin-top: 9rem;
}

.contentText {
    text-align: justify;
}

.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    right: 0;
    background: black;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
}

.dark-mode .link::after {
    background: white;
}

.link:hover:after,
.link:focus:after,
.link.active:after {
    width: 100%;
    left: 0;
}

.contentLink {
    text-decoration: underline;
    box-shadow: inset 0 0 0 0 #f0403c;
    color: black;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.contentLink:hover,
.contentLink:active,
.contentLink:focus {
    color: white;
    box-shadow: inset 300px 0 0 0 #f0403c;
}

.socialMediaIcon {
    transition: all 0.3s ease-in-out;
}

.socialMediaIcon:hover {
    fill: #e30f0f;
    scale: 1.2;
}

/* -- Navigation -- */
.bg-light {
    background-color: white !important;
    position: sticky;
    top: 0;
    z-index: 1001;
}

.navbar::after {
    background: linear-gradient(to right, #ff2b23 33%, #e5e5e5 33%, #e5e5e5 67%, #000 67%);
    position: absolute;
    content: '';
    height: 2px;
    right: 0;
    left: 0;
    bottom: 0;
}

.nav-item:not(#berolina_wappen) {
    font-family: 'Roboto Bold', sans-serif;
    display: flex !important;
    align-items: center;
    font-size: 22px;
    color: #595959;
}

.link {
    position: relative;
}

.nav-link {
    width: max-content !important;
    margin: auto;
}

#berolina_wappen img {
    max-height: 60px;
}

#berolina_wappen_mobile {
    height: 50px;
    left: 50%;
    top: 9px;
    transform: translateX(-50%);
}

/* -- Navigations Linien Mobile -- */
#navbar-toggler {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    ;
    border: 2px solid grey;
    position: relative;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navTogglerLine {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

#navTogglerLine1 {
    top: 30%;
    transition: all 0.4s;
}

#navTogglerLine2 {
    top: 50%;
    transition: all 0.4s;
}

#navTogglerLine3 {
    top: 70%;
    transition: all 0.4s;
}

#navTogglerLine1.menuOpen {
    top: 24%;
    transform: rotate(-45deg) translateX(-70%);
    height: 3px;
}

#navTogglerLine2.menuOpen {
    opacity: 0;
}

#navTogglerLine3.menuOpen {
    top: 74%;
    transform: rotate(45deg) translateX(-70%);
    height: 3px;
}

.nav_social_media {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0 !important;
}

.contentImg {
    max-width: 30%;
}

/* -- Button -- */
.btn-primary {
    text-decoration: none;
    width: auto;
    display: flex;
    border: none;
    background: #131313;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    padding: 0.8rem 1rem;
    min-width: 11.5rem;
    position: relative;
    z-index: 0;
    cursor: pointer;
    -webkit-transition: color .4s cubic-bezier(.525, 0, .185, 1);
    transition: color .4s cubic-bezier(.525, 0, .185, 1);
    justify-content: center;
}

.btn-primary:hover {
    color: white;
}

.pfeil {
    height: 17px;
    aspect-ratio: 10/9;
    background-image: url(./img/arrow-right-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 7px;
    align-self: center;
}

.btn-primary:focus::after,
.btn-primary:hover::after {
    width: 100%;
}

.btn-primary::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: .2rem;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#2f2f2f), to(#e92a27));
    background: linear-gradient(90deg, #2f2f2f, #e92a27);
    -webkit-transition: height .4s cubic-bezier(.525, 0, .185, 1);
    transition: width .4s cubic-bezier(.525, 0, .185, 1);
    transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.525, 0, 0.185, 1);
    transition-delay: 0s;
    z-index: -1;
}

/* -- Carousell -- */
.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
}

/* -- Leaflet Map -- */
#map {
    width: 100%;
}

.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

.leaflet-popup {
    bottom: -40px !important;
    left: -82px !important;
}

/* -- Sempro Tabelle -- */
.accordion-button>div {
    width: 100%;
    justify-content: center;
    display: flex;
}

.accordion-body {
    padding: 0;
}

#accordionSempro table,
#cookieTable table,
#veranstaltungenIndex table {
    width: 100%;
}

#accordionSempro .accordion-button {
    font-size: 70%;
}

#accordionSempro .accordion-button.collapsed {
    background-color: #fbfbfb;
}

#accordionSempro .accordion-button:not(.collapsed) {
    color: white;
    background-color: rgb(240, 64, 60);
}

#accordionSempro th,
#cookieTable th,
#veranstaltungenIndex th {
    color: white;
    background-color: #8e8e8e;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#accordionSempro th:nth-child(2),
#accordionSempro th:nth-child(3),
#cookieTable th:nth-child(2),
#cookieTable th:nth-child(3) {
    border-left: 1px solid white;
}

#accordionSempro table td,
#cookieTable table td,
#veranstaltungenIndex table th,
#veranstaltungenIndex table td {
    padding: 10px;
}

#cookieTable {
    color: black;
}

#accordionSempro table>tbody>tr>td:nth-of-type(1),
#cookieTable table>tbody>tr>td:nth-of-type(1) {
    width: 25%;
}

#accordionSempro table>tbody>tr>td:nth-of-type(2),
#cookieTable table>tbody>tr>td:nth-of-type(2) {
    width: 25%;
    border-left: 1px solid lightgray;
}

#accordionSempro table>tbody>tr>td:nth-of-type(3),
#cookieTable table>tbody>tr>td:nth-of-type(3) {
    width: 50%;
    border-left: 1px solid lightgray;
}

#veranstaltungenIndex th:nth-child(2) {
    border-left: 1px solid lightgray;
}

#veranstaltungenIndex td:nth-child(even) {
    border-left: 1px solid lightgray;
}

#accordionSempro tr:nth-child(even),
#cookieTable tr:nth-child(even),
#veranstaltungenIndex tr:nth-child(even) {
    background-color: rgba(255, 206, 204, 0.7);
}

#cookieTable h5 {
    color: white;
    background-color: #424242;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 15px;
}

#cookieTable table,
#veranstaltungenIndex table {
    border: 1px solid lightgray;
}

#veranstaltungenIndex table {
    color: black;
}

#veranstaltungenIndex table {
    background-color: white;
}

/* -- Anmerkungen Sempro -- */
#anmerkungenSempro tr>td:nth-of-type(1) {
    width: 20%;
}

#anmerkungenSempro tr>td:nth-of-type(2) {
    width: 10%;
}

/* -- Kontaktseite -- */
.kontaktImg {
    border-radius: 100%;
    margin-bottom: 10px;
}

.kontaktKachel {
    background-color: rgba(240, 64, 60, 0.7);
    border-radius: 15px;
}

/* -- Footer -- */
footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: lightgray;
    padding-top: 20px;
    margin-top: 50px;
    color: #333333;
}

footer hr {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0), rgba(255, 255, 255, 0)) !important;
}

footer a {
    color: black !important;
}

footer a:hover {
    color: black !important;
}

@media(max-width: 1200px) {
    #timeline ul li:nth-child(2n) div {
        left: -44vw;
      }
      #timeline ul li div {
        width: calc(40vw - 10px);
      }
}

@media (max-width: 991px) {
    header {
        padding-inline: 0 !important;
    }

    .navbar-nav {
        padding-top: 20px;
    }

    .contentImg {
        max-width: 50%;
    }

    .contentText {
        text-align: inherit;
    }

    #stammtisch,
    #seminar,
    #erfolg,
    #kneipe,
    #ausfahrt,
    #fechten,
    #freundschaft,
    #toleranz,
    #entwicklung,
    #vaterland,
    #tradition {
        scroll-margin-top: 5rem;
    }

    #dark-mode-toggler {
        left: 6%;
        top: 8px;
    }
}

@media (max-width: 767px) {
    body {
        background-image: url(./img/hintergruende/hintergrund_white_m.webp);
    }

    .dark-mode {
        background-image: url(./img/hintergruende/hintergrund_black_m.webp);
    }
    #timeline ul li {
        margin-left: 20px;
    }
    #timeline ul li:nth-child(2n) div {
        left: 45px;
    }
    #timeline ul li div {
        width: calc(87vw - 91px);
    }
    #timeline ul li:nth-child(2n) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #F45B69 transparent transparent;
      }
}

@media (max-width: 575px) {
    #dark-mode-toggler {
        left: 3%;
        top: 8px;
    }
    #timeline ul li div {
        width: calc(94vw - 91px);
      }
}